<% content_for :head do %>
  <h1><%= @current_artist.name %></h1>
  <p class="lead"><%= @current_artist.songs.count %> songs registerd.</p>
<% end %>

<%# artist id %>
<input type="hidden" name="song_url" id="song_url" value="<%= url_for @current_artist %>" />

<%# artist list %>
<div class="span4">
  <section>
    <%= render :partial => 'list' %>
  </section>
</div>

<%# ranking table %>
<div class="span8">
  <section>
  <h3>Request Ranking (<%= @latestday %>)</h3>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#table" data-toggle="tab">Request List</a></li>
    <li><a href="#ranking" data-toggle="tab">Ranking graph</a></li>
    <li><a href="#point" data-toggle="tab">Point graph</a></li>
  </ul>
  <div class="tab-content">
    <%# table %>
    <div class="tab-pane active" id="table">
      <%= render :partial => 'ranking', :locals => { :ranking => @ranking } %>
    </div>
    <%# ranking %>
    <div class="tab-pane" id="ranking">
      <div id="rank_graph" style="width: 600px; height: 600px;"></div>
    </div>
    <%# point %>
    <div class="tab-pane" id="point">
      <div id="point_graph" style="width: 600px; height: 600px;"></div>
    </div>
  </div>
  </section>
</div>
